# Ignore the HELP.md file
HELP.md

# Exclude the entire target/ directory
/target

# Exclude the maven-wrapper.jar in the .mvn/wrapper directory
!.mvn/wrapper/maven-wrapper.jar

# Include JAR files within the target directory at the root of the project
/target/*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
